@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Work+Sans:ital@0;1&display=swap');

.button-div {
	transform: translateY(-20vh);
}

.button {
	width: 10em;
	height: 3em;
}

.link:hover {
	text-decoration: none;
}

.button-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: bold;
}

@media only screen and (max-width: 800px) {
	.button-div {
		transform: translateY(-16vh);
	}
  }