@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Work+Sans:ital@0;1&display=swap');

.button-div {
	transform: translateY(-10vw);
}

.button {
	width: 10em;
	height: 3em;
}

.link:hover {
	text-decoration: none;
}

.button-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: bold;
}
